.footer {
  padding: 60px 0px;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  column-gap: 2.5rem;
}

.footer__logo {
  width: 40%;
}

.footer__quick-links {
  width: 20%;
}

.footer__logo h2 {
  color: var(--primary-color);
}

.small__text {
  font-size: 1rem;
  margin-top: 30px;
}

.quick__links-title {
  font-size: 1.1rem;
  color: var(--primary-color);
  font-weight: 500;
  margin-bottom: 30px;
}

.quicks__links {
  list-style: none;
}

.quick__link-item {
  margin-bottom: 30px;
}

.quick__link-item a {
  font-size: 0.9rem;
  cursor: pointer;
  font-weight: 300;
}

.quick__link-item a:hover {
  color: var(--primary-color);
}

.copyright {
  color: rgba(255, 255, 255, 0.573);
  margin-top: 40px;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 400;
}

.light-theme .quick__link-item a {
  font-weight: 500;
}

.light-theme .copyright {
  color: #555;
}